@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 768px) {
  .splash-wrapper {
    display: none;
  }
}

.splash-image {
  width: 160px;
  height: 160px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 50%; /* makes it roundish */

  /* Fade / irregular mask */
  -webkit-mask-image: radial-gradient(circle at 30% 30%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;

  mask-image: radial-gradient(circle at 30% 30%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}


